/* @import url('https://fonts.cdnfonts.com/css/tama-mini02'); */
/* @import url('https://fonts.cdnfonts.com/css/motorola-screentype'); */
/* @import url('https://fonts.cdnfonts.com/css/square-dance'); */
@import url('https://fonts.cdnfonts.com/css/lower-pixel');

html {
    /* font-family: 'tama mini02', sans-serif; */
    /* font-family: 'Motorola ScreenType', sans-serif; */
    /* font-family: 'SquareDance00', sans-serif; */
    font-family: 'Lower Pixel', sans-serif;
    color: #131515;
    background-color: #d7d4ca;
}

h1 {
    text-transform: uppercase;
}

p {
    /* font-size: 19px; */
    font-size: 19px;
}

.mainHeader {
    text-align: center;
    width: 50%;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 20px;
}


.mainContainer {
    margin-top: 50px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.About_Me, .Projects {
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
    width: fit-content;
    background-color: #50858b9b;
    border: dashed;
    border-color: #361d2e99;
    animation-name: spin;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

@keyframes spin {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(180deg);
    }
    100% {
        transform: rotateY(360deg);
    }
}

.projectButton {
    margin-top: 50px;
}

.projectButton a {
    text-decoration: none;
    color: #131515;
    padding: 0.5em 2em;
    background-color: #967AA1;
    border-radius: 0.5rem;
}

.projectButton a:hover {
    background-color: #90E0E1;
}

