@import url('https://fonts.cdnfonts.com/css/tama-mini02');

html {
    font-family: 'tama mini02', sans-serif;
    color: #64998F;
    background-color: #EBEAE7;
}

.projectsContent {
    padding: 200px;
    background-color: #64998F;
}